<div bsModal #smModal3="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h4 class="modal-title">Delete all data</h4> -->
        <div class="picture fingerprint delete-fingerprint">
            <h4  *ngIf="noUsers==false" style="color:#737373; line-height: 26px;">Please select users you want to delete!</h4>
            <h4  *ngIf="noUsers==true" style="color:#737373; line-height: 26px;">No users!</h4>
          <div style="margin-left:33%" class="list-floor" *ngFor="let user of filteredUsers | reverse">
            <input type="checkbox" id="{{user._id}}" (click)="getuser(user.name, user._id)" value="" />   <label style="color: #0C0909">{{user.name}}: {{user.email}}</label> 
          </div>
        </div>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-modal" (click)="smModal3.hide()">No</button>
        <button type="button" class="btn btn-modal" (click)="smModal3.hide();deleteUser()">Yes</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #smModal2="bs-modal" class="modal fade modal2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  
        <div class="container" style="color: white">
          <h2 class="page-header" style="text-align:center">QRcode</h2>
            <div id="wrapp">
              <form (submit)="onQRcodeSubmit();smModal2.hide()">
                <div class="form-group col-md-6">
                  <label>Name</label>
                  <input type="text" [(ngModel)]="name" name="name" class="form-control">
                </div>
                
                <div class="form-group col-md-6">
                  <label>Email</label>
                  <input type="text" [(ngModel)]="email" name="email" class="form-control">
                </div> 
                
                <div> <input type="submit" class="btn btn-primary col-md-6" value="Create"> 
                </div>
              </form>
            </div>  
            
          </div>
      </div>
      
      <div bsModal #smModal4="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <!-- <h4 class="modal-title">Delete all data</h4> -->
              <div class="picture fingerprint delete-fingerprint">
                  <h4 style="color:#737373; line-height: 26px;">Do you want to delete all datas</h4>                  
              </div>
            </div>
            <div class="modal-body">
              <button type="button" class="btn btn-modal" (click)="smModal4.hide()">No</button>
              <button type="button" class="btn btn-modal" (click)="smModal4.hide();DeleteAll()">Yes</button>
            </div>
          </div>
        </div>
      </div>    

<div class="row">
  <div class="col-md-5">
    <div class="picture qrcode">
      <img src="./assets/images/access-control/qrcode.png"
           class="img-circle qrcode-picture fingerprint-picture-gray"
           alt="Responsive image"
            (click)="smModal3.show()">
      <h4  style="color:#9a8484">Delete datas</h4>
    </div>
  </div>
  <hr class="vertical">
  <div class="col-md-5">
    <div class="picture qrcode">
      <img src="./assets/images/access-control/qrcode.png"
           class="img-circle qrcode-picture"
           alt="Responsive image"
            (click)="smModal2.show()">
      <h4>Create a QRcode</h4>
    </div>
  </div>
</div>
<div class="footer">
  <div class="back-button">
    <div class="btn-back">
      <button class="btn"
          type="button"
          name="button"
          (click)="back()">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
     </button>
    </div>
  </div>
</div>


  <div class="delete-button">
    <div class="btn-delete">
      <button class="btn"
          type="button"
          name="button"
          (click)="smModal4.show()">
            <i class="fa fa-trash-o" aria-hidden="true"></i> Delete all data
     </button>
    </div>
  </div>
